.red {
    width: 0px;
    height: 0px;
    border-right: 280px solid transparent;
    border-top: 280px solid red;
    border-left: 280px solid red;
    border-bottom: 280px solid red;
    border-top-left-radius: 290px;
    border-top-right-radius: 280px;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 290px;
    position: absolute;
    margin: 20px;
    transform: rotate(-20deg);
  }

.white {
    width: 0px;
    height: 0px;
    border-right: 280px solid transparent;
    border-top: 280px solid wheat;
    border-left: 280px solid wheat;
    border-bottom: 280px solid wheat;
    border-top-left-radius: 290px;
    border-top-right-radius: 280px;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 290px;
    position: absolute;
    margin: 20px;
    transform: rotate(-20deg);
}