.corn-1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 60px;
    left: 300px;
  }
  .corn-2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 160px;
    left: 250px;
    z-index: 2;
  }
  .corn-3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 60px;
    left: 200px;
  }
  .corn-4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 150px;
    left: 100px;
  }
  .corn-5 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 250px;
    left: 200px;
  }
  .corn-6 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 350px;
    left: 150px;
  }
  .corn-7 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 400px;
    left: 350px;
  }
  .corn-8 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 380px;
    left: 250px;
  }
  .corn-9 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 500px;
    left: 300px;
  }
  .corn-10 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 450px;
    left: 150px;
  }
  .corn-11 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 200px;
    left: 520px;
  }
  .corn-12 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 200px;
    left: 350px;
  }
  .corn-13 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 300px;
    left: 350px;
  }
  .corn-14 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 320px;
    left: 480px;
  }
  .corn-15 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5e3c33;
    position: absolute;
    top: 300px;
    left: 80px;
  }